<%unless flash[:error].nil? %>
	<div class="alert alert-danger" role="alert"><%=flash[:error]%></div>
<%end%>
<%= simple_form_for @cuisine do |f|%>
	<%=f.input :name, label: 'Nome', error: "Campo obrigatório" %>
	<%=f.submit 'Criar Cozinha', class: "btn btn-primary" %>
<%end%>
