<dl class="horizontal-list">
	<dt>Cozinha</dt>
	<dd><%=@cuisine.name%></dd>
</dl>

<%if @cuisine.recipes.empty?%>
	<p>Nenhuma receita disponível</p>
<%end%>
<%@cuisine.recipes.each do |recipe|%>
	<p>	<%= recipe.name%> </p>
<%end%>